header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  margin-bottom: 0px;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(225, 224, 220);
}

.head {
  height: 30px;
  width: 98%;
  background-color: rgb(145, 138, 127);
  color: black;
  font-family: "Times New Roman", Times, serif;
}

h2 {
  width: 30%;
  margin: 90 80;
}

#name {
  width: 250px;
  height: 40px;
  text-align: center;
  position: relative;
  left: -30px;
  margin-inline-start: 1px;
  background-color: rgb(234, 233, 229);
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bolder;
  font-style: italic;
  text-decoration: underline;
  text-decoration-color: black;
  color: rgb(234, 233, 229);
  width: 350px;
  padding: 20px;
  height: 10px;
  margin-right: 20px;
  margin-bottom: -2px;
}

nav a {
  color: rgb(234, 233, 229);
}

nav a:hover {
  color: rgb(107, 95, 67);
}

.background-image {
  background-image: url("../images/sand.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 300px;
}
.myImage {
  width: 295px;
  height: 295px;
  border-radius: 100%;
  border-bottom-left-radius: 100%;
  border-end-end-radius: 100%;
  border-start-end-radius: 100%;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-end-start-radius: 100%;
  border-bottom-left-radius: 100%;
  margin-left: 5px;
}

img {
  display: flex;
  width: 100%;
  height: 400px;
  margin-top: 0px;
}

#about {
  display: flex;
  height: 215px;
  margin-left: 10px;
}

.about-title {
  border-right: 3px solid black;
  margin-top: 20px;
  margin-left: 58px;
}

#mypara {
  width: 70%;
  margin-left: 30px;
  margin-top: 15px;
}

#work {
  display: flex;
  margin-top: 30;
}

.work-title {
  width: 121px;
  border-right: 3px solid black;
  margin-top: 25px;
  margin-left: 50px;
}

#mywork {
  width: 70%;
  margin-left: 55px;
  margin-top: 25px;
}

#mywork img {
  margin: 20 5;
  border: 4px solid rgb(103, 93, 80);
}

.big {
  width: 916px;
  margin: 5px;
  margin-left: 6px;
}

.small {
  display: flex;
  flex-wrap: wrap;
}

.small a img {
  width: 450px;
  height: 250px;
  margin: 5px;
}

#float-img-1 {
  width: 130px;
  height: 50px;
  text-align: center;
  padding: 8;
  text-decoration: none;
  position: relative;
  position: absolute;
  bottom: -350;
  left: 344;
  background-color: rgb(103, 93, 80);
  color: black;
  font-size: 18;
}

#float-img-1 p {
  margin-top: 0;
  font-size: 12px;
  width: 120px;
}

#float-img-2 {
  width: 150px;
  height: 50px;
  text-align: center;
  padding: 8;
  text-decoration: none;
  position: relative;
  position: absolute;
  bottom: -660;
  margin-left: 9px;
  background-color: rgb(103, 93, 80);
  color: black;
  font-size: 17;
}

#float-img-2 p {
  margin-top: 0;
  font-size: 12px;
}

#float-img-3 {
  width: 150px;
  height: 50px;
  text-align: center;
  padding: 8;
  text-decoration: none;
  position: relative;
  position: absolute;
  bottom: -660;
  margin-left: 9px;
  background-color: rgb(103, 93, 80);
  color: black;
  font-size: 17;
}

#float-img-3 p {
  margin-top: 0;
  font-size: 12px;
}

#float-img-4 {
  width: 150px;
  height: 50px;
  text-align: center;
  padding: 8;
  text-decoration: none;
  position: relative;
  position: absolute;
  bottom: -960;
  margin-left: 9px;
  background-color: rgb(103, 93, 80);
  color: black;
  font-size: 18;
}

#float-img-4 p {
  margin-top: 0;
  font-size: 12px;
}

#float-img-5 {
  width: 160px;
  height: 50px;
  text-align: center;
  padding: 8;
  text-decoration: none;
  position: relative;
  position: absolute;
  bottom: -960;
  margin-left: 9px;
  background-color: rgb(103, 93, 80);
  color: black;
  font-size: 18;
}

#float-img-5 p {
  margin-top: 0;
  font-size: 12px;
}

#mywork a:hover {
  cursor: pointer;
  zoom: 101%;
}

#contact {
  display: flex;
  height: 200px;
}

.contact-title {
  border-right: 3px solid black;
  margin-left: 50px;
  margin-bottom: 4;
  margin-top: 25px;
}

#mycon {
  width: 600px;
  margin-left: 40px;
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
}

#mycon a {
  color: rgb(103, 93, 80);
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

#mycon a:hover {
  color: rgb(130, 124, 116);
}

#contact {
  width: 70%;
  margin-top: 20;
}

.float {
  font-size: xx-large;
  color: rgb(103, 93, 80);
  position: relative;
  position: absolute;
  right: 180px;
  bottom: 350px;
}

html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 595px) {
  #float-img-1 {
    position: relative;
    position: absolute;
    left: 0px;
  }
}

@media screen and (max-width: 595px) {
  #float-img-2 {
    position: relative;
    position: absolute;
    left: 0px;
  }
}

@media screen and (max-width: 1353px) {
  #float-img-3 {
    position: relative;
    position: absolute;
    bottom: -960px;
    left: 345px;
  }
}

@media screen and (max-width: 595px) {
  #float-img-3 {
    position: relative;
    position: absolute;
    left: 0px;
  }
}

@media screen and (max-width: 1353px) {
  #float-img-4 {
    position: relative;
    position: absolute;
    left: 345px;
    bottom: -1258px;
  }
}

@media screen and (max-width: 595px) {
  #float-img-4 {
    position: relative;
    position: absolute;
    left: 0px;
  }
}

@media screen and (max-width: 1353px) {
  #float-img-5 {
    position: relative;
    position: absolute;
    left: 345px;
    bottom: -1557px;
  }
}

@media screen and (max-width: 595px) {
  #float-img-5 {
    position: relative;
    position: absolute;
    left: 0px;
  }
}
